# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: SB-Server build, test and push

env:
  APP_IMAGE: fegrus/quiz-sb-server
  GITOPS_REPO: Quiz-Org/quiz-kubernetes

on:
  push:
    branches: [ "master" ]
    paths:
      - "SBQuizServer/**"

jobs:
  build:

    runs-on: ubuntu-latest

    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - name: Set up JDK 22
      uses: actions/setup-java@v3
      with:
        java-version: '22'
        distribution: 'corretto'
        cache: maven

    - name: Build with Maven
      run: mvn -B install --file SBQuizServer/pom.xml

    - name: Bump version and push tag
      id: tag
      uses: anothrNick/github-tag-action@v1 # Don't use @master or @v1 unless you're happy to test the latest version
      env:
        DEFAULT_BUMP: patch
        GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN }} # if you don't want to set write permissions use a PAT token
        WITH_V: false

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: SBQuizServer/.
        file: SBQuizServer/Dockerfile
        push: true
        tags: ${{env.APP_IMAGE}}:${{steps.tag.outputs.tag}}
        cache-from: type=gha
        cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:

      - uses: actions/checkout@v2
        with:
          repository: ${{env.GITOPS_REPO}}
          token: ${{secrets._GITHUB_TOKEN}}

      - uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: 4.0.0

      - run: kustomize edit set image ${{env.APP_IMAGE}}:${{needs.build.outputs.tag}}
        working-directory: quiz-server/

      - run: |
          git config user.email "gitops@myquizapp.co.uk"
          git config user.name "gitops"
          git commit -am "Gitops update to $APP_IMAGE"
          git pull --rebase
          git push